html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

* , *:before , *:after {
  box-sizing: inherit;
}

body {
  background-color: #edeff2;
  color: #6a859c;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  min-height: 100%;
}

/* Header section */
header {
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 16px 0;
  text-decoration: none;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

nav a {
  transition: all 300ms ease-in-out;
  color: #676770;
  text-decoration: none;
  padding: 20px 12px;
}

nav a:hover {
  color: #2e9dff;
}

.current-link {
  color: #0082f3;
}

/* Hero section */
.hero {
  padding: 195px 0;
  border-bottom: 4px solid #69b9ff;
  background-image: linear-gradient(180deg, #007a, #0f314e), url('images/galaxy.jpeg');
  background-position: bottom left;
  background-size: auto, cover;
  text-align: center;
}

section .container {
  flex-direction: column;
}

.hero h1 {
  margin: 0 0 30px;
  color: white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.hero p {
  margin-bottom: 40px;
  color: #2e9dff;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: black 4px 4px 5px;
}
